@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
        --opacity-1: 0.87;
        --opacity-2: 0.60;
        --opacity-3: 0.38;
        --background-color-1: rgba(25, 25, 25, 1.0);
        --background-color-2: rgba(10, 10, 10, 1.0);
        --background-color-3: rgba(50, 50, 50, 1.0);
        --foreground-color-1: rgba(255, 255, 255, var(--opacity-1));
        --foreground-color-2: rgba(255, 255, 255, var(--opacity-2));
        --foreground-color-3: rgba(255, 255, 255, var(--opacity-3));
}

* {
        color: var(--foreground-color-1);
        font-family: "Inter", sans-serif;
        box-sizing: border-box;
}

html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--background-color-1);
}

code, pre {
        background-color: var(--background-color-2);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 2.5px;
        font-family: Consolas, monospace;
}

button, .button {
        background: var(--background-color-3);
        color: var(--foreground-color-1);
        border: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: medium;
        text-decoration: none;
        border-radius: 2.5px;
        user-select: none;
        cursor: pointer;
}

button:hover, .button:hover {
        opacity: var(--opacity-2);
}

button *, .button * {
        user-select: none;
}

input {
        padding: 0.5rem;
        border-radius: 1px;
        background-color: var(--background-color-2);
        border: none;
        outline: none;
}

details > summary {
        user-select: none;
        cursor: pointer;
}

details > summary:hover {
        text-decoration: underline;
}

details > *:not(summary) {
        margin-left: 2rem;
}

.primary-text {
        color: var(--foreground-color-1);
}

.primary-text * {
        color: inherit;
}

.secondary-text {
        color: var(--foreground-color-2);
}

.secondary-text * {
        color: inherit;
}

.disabled-text {
        color: var(--foreground-color-3);
}

.disabled-text * {
        color: inherit;
}

.undraggable {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
}

.unselectable {
        user-select: none;
}

.clickable {
        cursor: pointer;
}

.link {
        cursor: pointer;
        text-decoration: underline;
}

.header {
        position: sticky;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: var(--background-color-2);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
}

.header > .icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        max-height: 100%;
        user-select: none;
        text-decoration: none;
}

.header > .icon > .image {
        height: 100%;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        object-fit: contain;
}

.header #default-icon {
        opacity: var(--opacity-2);
}

.header #default-icon:hover {
        opacity: var(--opacity-1);
}

.header > nav {
        display: flex;
        width: 100%;
        align-items: center;
}

.header > nav > a {
        margin-left: 2rem;
        user-select: none;
        text-decoration: none;
        font-size: large;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
        position: relative;
        border-bottom: none;
}

.header > nav > a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        width: 100%;
        height: 2px;
        background-color: var(--foreground-color-1);
        transition: transform 100ms ease-in-out;
}

.header > nav > a:hover::after {
        transform: translateX(-50%) scaleX(1);
}

main {
        width: 100%;
        height: calc(100% - 4rem);
        overflow-y: auto;
}

main > section {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 2.5rem;
}

.home-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}

.home-logo {
        width: 250px;
        height: auto;
        max-width: 80vw;
        max-height: 40vh;
        object-fit: contain;
        user-select: none;
        cursor: pointer;
}

.home-title {
        margin: 0;
        font-size: 2.5rem;
        color: var(--foreground-color-1);
}

.socials {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        gap: 1.5rem;
}

.socials > a {
        width: 1.5rem;
        height: 1.5rem;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: var(--opacity-2);
}

.socials > a:hover {
        opacity: var(--opacity-1);
}

.socials > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}

.horizontal-buttons {
        display: flex;
        gap: 1rem;
}